{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/areadatrilha.css' %}">
    <title>Area da Trilha</title>
</head>

<body>
    <section>
        <main>
            <div class="container">
                <div class="titulo-descricao">
                    <img src="{% static 'media/galeria/breaking bad.png' %}" alt="Breaking Bad">
                    <h1>Breaking Bad
                        <p>2008</p>
                    </h1>
                </div>
                <h2>Descrição<br>
                    <p>O professor de química Walter White não acredita que sua vida possa piorar ainda mais. Quando
                        descobre que tem câncer terminal, Walter decide arriscar tudo para ganhar dinheiro enquanto
                        pode, transformando sua van em um laboratório de metanfetamina.</p>
                </h2>
                <div class="btn btn-one">
                    <span>Favoritar</span>
                </div>
            </div>

            <hr>

            <div class="playlist">
                <div class="musica1">
                    <h1>1</h1>
                    <h2>Come On Home And Have Your Next Affair With Me
                        <p>Stonewall Jackson</p>
                    </h2>
                    <a href="https://open.spotify.com/intl-pt/track/0jkArWZb85j3Bnd92Ls5Nx?si=01e33684849c49b3"><img
                            src="{% static 'media/icons/botao-play.png' %}" alt="botao-play"></a>
                </div>
                <div class="musica2">
                    <h1>2</h1>
                    <h2>Tamacun
                        <p>Rodrigo y Gabriela</p>
                    </h2>
                    <a href="https://open.spotify.com/intl-pt/track/0avtLG17MT8kDf9xc67Niv?si=29aee067aa61470e"><img
                            src="/pagina_playlist/galeria/icones/botao-play.png" alt="botao-play"></a>
                </div>
                <div class="musica3">
                    <h1>3</h1>
                    <h2>Mango Walk
                        <p>The In Crowd</p>
                    </h2>
                    <a href="https://open.spotify.com/intl-pt/track/1pkM5sz3vJkJJjkX6ynk3i?si=d59492c2df6f4be8"><img
                            src="/pagina_playlist/galeria/icones/botao-play.png" alt="botao-play"></a>
                </div>
                <div class="ver-mais">
                    <a href="https://open.spotify.com/playlist/4mWbsSekoMGWvKyKEGwwGt?si=0da5059e53b344c5">Ver mais</a>
                </div>
            </div>
        </main>

    </section>
</body>

</html>