{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/areadatrilha.css' %}">
    <script src="https://kit.fontawesome.com/af6c14a78e.js" crossorigin="anonymous"></script>
    <title>Area da Trilha</title>
</head>

<body>
    <!-- <span><strong>Nome do album atual: </strong> {{playlist.album_musica}}</span> -->

    <section>
        <main>
            <div class="container">
                <div class="titulo-descricao">
                    <img src="{{ playlist.imagem }}" alt="{{ playlist.nome_musica }}" />


                    <h1>{{playlist.nome_musica}}
                        <p>
                            {{playlist.ano}}
                        </p>
                    </h1>
                </div>
                <h2>Descrição<br>
                    <p>
                        {{playlist.descricao}}
                    </p>
                </h2>
                <div class="btn btn-one">
                    <span>Favoritar</span>
                </div>
            </div>

            <hr>

            <div class="playlist">
                <div class="musica1">
                    <div class="texto">
                        <h1>1</h1>
                        <h2>{{playlist.nome_musica}}
                            <p>
                                {{playlist.nome_artista}}
                            </p>
                        </h2>
                    </div>
                <a href="{{playlist.link}}" target="_blank">
                    <i class="fa-solid fa-play"></i>
                </a>

            </div>


                <div class="ver-mais">
                    <a href="">Ver mais</a>
                </div>
        </div>
        </main>

    </section>

</body>

</html>