{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'css/cadplaylist.css'%}">

</head>
<body>
    <div class="container">

        <main class="form">

            <h2>Adicionar Playlist </h2>
            <form action="{% url 'createplaylist' %}" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <label for="{{field.id_for_label}}" > {{field.label}} :</label> <br>
                    {{field}}
                     <br>
                     
                  
                {% endfor %}
                <button type="submit">Salvar</button>
            </form>
            
        
        </main>

    </div>
</body>
</html>








