{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="{%static 'css/playlistsalvo.css'%}">
</head>
<body>
    <div class="container">

        <main class="form">
            <h2>Conta cadastrada com sucesso!</h2>
            <a href="{% url 'home' %}" style="
            text-decoration: none; 
            font-weight: bold;
            ">Voltar ao menu</a>
        
        </main>

    </div>
</body>
</html>