{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Playlist</title>
    <link rel="stylesheet" href="{%static 'css/playlistsalvo.css'%}">


</head>
<body>
    <div class="container">

        <main class="form">

            <h2>Editar Playlist </h2>
            <span><strong>Nome do filme atual: </strong> {{playlist.nome_filme}}</span>
            <span><strong>Nome da musica atual: </strong> {{playlist.nome_musica}}</span>
            <span><strong>Nome do album atual: </strong> {{playlist.album_musica}}</span>
            <span><strong>Link Atual: </strong> {{playlist.link}}</span>
            <form action="{% url 'updateplaylist' id=playlist.id %}" method="post">
                {% csrf_token %}
                <input type="text" placeholder="Novo nome do Filme" name="nome_filme" id="{{playlist.nome_filme}}">
                <input type="text" placeholder="Novo nome da Musica" name="nome_musica" id="{{playlist.nome_musica}}">
                <input type="text" placeholder="Novo nome do Album" name="album_musica" id="{{playlist.album_musica}}">
                <input type="text" placeholder="Novo Link" name="link" id="{{playlist.link}}">
                <button type="submit"> Salvar </button>

            </form>
        
        </main>

    </div>
</body>
</html>