{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'css/cadplaylist.css'%}">
    <link rel="stylesheet" href="{%static 'css/redefinir_senha.css'%}">

</head>
<body>
    <div class="container">

        <main class="form">

            <h2>Editar Playlist </h2>
            {{playlist.album_musica}}
            <form action="{% url 'updateplaylist' id=playlist.id %}" method="post">
                {% csrf_token %}
                <input type="text" name="album_musica" id="{{playlist.album_musica}}">
                <button type="submit"> Salvar </button>

            </form>
        
        </main>

    </div>
</body>
</html>