{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{% static 'media/logo.png' %}" type="image/x-icon" />
    <script src="https://kit.fontawesome.com/e9bb3fc60a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Hookeds On Cinema</title>
  </head>

  <body>
    <div class="container">
      <header>
        <div class="logo">
          <img src="{% static 'media/icons/logo.png' %}" />
          <h1><span>H</span><span>o</span><span>o</span><span>k</span><span>e</span><span>d</span><span>s</span><span>O</span><span>n</span><span>C</span><span>i</span><span>n</span><span>e</span><span>m</span><span>a</span></h1>
        </div>
      </header>
      <nav>
        <ul class="menu">
          <li>
            <a href="/Página em Andamento/index.html"><i class="fas fa-home"></i> Home</a>
          </li>
          <li>
            <div class="menuzinho">
              <a href="/Página em Andamento/index.html"><i class="fas fa-th-list"></i> Categorias</a>
              <div class="submenu">
                <ul>
                  <li>
                    <i class="fas fa-film"></i><a href="#">Animação</a>
                  </li>
                  <hr />
                  <li>
                    <i class="fas fa-tv"></i><a href="#">Anime</a>
                  </li>
                  <hr />
                  <li>
                    <i class="fas fa-fist-raised"></i><a href="#">Ação</a>
                  </li>
                  <hr />
                  <li>
                    <i class="fas fa-map"></i><a href="#">Aventura</a>
                  </li>
                  <hr />
                  <li>
                    <i class="fas fa-theater-masks"></i><a href="#">Drama</a>
                  </li>
                  <hr />
                  <li>
                    <i class="fas fa-skull"></i><a href="#">Terror</a>
                  </li>
                  <hr />
                  <li>
                    <i class="fas fa-book"></i><a href="#">Novela</a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <a href="/Página em Andamento/index.html"><i class="fas fa-fire"></i> Tendências</a>
          </li>
          <li>
            <a href="/Página em Andamento/index.html"><i class="fas fa-bookmark"></i> Biblioteca</a>
          </li>
        </ul>

        <div class="search-perfil">
          <input type="search" href="/Página em Andamento/index.html" placeholder="Search..." /><a href="Página em Andamento/index.html"><i class="fas fa-search"></i></a>
          <div class="menuzinho2">
            <img src="{% static 'media/icons/fotoperfil.jpeg' %}" alt="Foto de Perfil" class="fotoperfil" />
            <div class="submenu2">
              <ul>
                <li>
                  <a href="/areadousuario/index2.html">Perfil</a>
                </li>
                <hr />
                <li>
                  <a href="/index.html">Sair</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>

      <section class="carrossel">
        <div class="gallery">
          <div style="--i: url({% static 'media/galeria/interestelar.jpg' %});"></div>
          <div style="--i: url({% static 'media/galeria/oppenheimer.jpg' %});"></div>
          <div style="--i: url({% static 'media/galeria/Deadpool & Wolverine.jpg' %});"></div>
        </div>
      </section>

      <section class="galeria">
        <article>
          <strong>Adicionados Recentemente</strong>
          <div class="foto1">
            <main>
              <a href="#"><img src="{% static 'media/galeria/Baby Driver.jpg' %}" alt="Em Ritmo de Fuga" /></a> Em Ritmo de Fuga
            </main>
            <main>
              <a href="#"><img src="{% static 'media/galeria/Jhonny_Bravo.png' %}" alt="Jhonny Bravo" /></a> Jhonny Bravo
            </main>
            <main>
              <a href="#"><img src="{% static 'media/galeria/Carros.png' %}" alt="Carros" /></a> Carros
            </main>
            <main>
              <a href="#"><img src="{% static 'media/galeria/Procurando Nemo.jfif' %}" alt="Procurando Nemo" /></a> Procurando Nemo
            </main>
            <main>
              <a href="#"><img src="{% static 'media/galeria/Breaking Bad.png' %}" alt="Breaking Bad" /></a> Breaking Bad
            </main>
            <main>
              <a href="#"><img src="{% static 'media/galeria/Titanic.jpg' %}" alt="Titanic" /></a> Titanic
            </main>
            <main>
              <a href="#"><img src="{% static 'media/galeria/Euphoria.jpg' %}" alt="Euphoria" /></a> Euphoria
            </main>
          </div>
        </article>
        <article>
          <strong>Relacionados</strong>
          <div class="foto1">
            <main>
              <a href="#"><img src="{% static 'media/galeria/Game of Thrones.png' %}" alt="Game of Thrones" /></a> Game of Thrones <br />
            </main>
            <main>
              <a href="#"><img src="{% static 'media/galeria/O Iluminado.png' %}" alt="O Iluminado" /></a> O Iluminado<br />
            </main>
            <main>
              <a href="#"><img src="{% static 'media/galeria/Da Cor do Pecado.png' %}" alt="Da Cor do Pecado" /></a> Da Cor do Pecado<br />
            </main>
            <main>
              <a href="#"><img src="{% static 'media/galeria/Amelie.png' %}" alt="Amelie" /></a> Amelie <br />
            </main>
            <main>
              <a href="#"><img src="{% static 'media/galeria/Lilo e Stitch.png' %}" alt="Lilo e Stitch" /></a> Lilo e Stitch <br />
            </main>
            <main>
              <a href="#"><img src="{% static 'media/galeria/Akame Ga Kill.png' %}" alt="Akame Ga Kill" /></a> Akame Ga Kill <br />
            </main>
            <main>
              <a href="#"><img src="{% static 'media/galeria/O Profeta.png' %}" alt="O Profeta" /></a> O Profeta <br />
            </main>
          </div>
        </article>
        <div>
          <div class="carrossel">
            <div class="gallery">
              <div style="--i: url({% static 'media/galeria/The Office.jpg' %});"></div>
              <div style="--i: url({% static 'media/galeria/Friends.jpg' %});"></div>
              <div style="--i: url({% static 'media/galeria/The Big Bang.jpg' %});"></div>
            </div>
          </div>
        </div>
      </section>
      <footer>
        <div class="container-footer">
          <div class="row-footer">
            <div class="footer-col">
              <h4>Empresa</h4>
              <ul>
                <li>
                  <a href="#">Quem somos</a>
                </li>
                <li>
                  <a href="#">Nossos serviços</a>
                </li>
                <li>
                  <a href="#">Política de privacidade</a>
                </li>
                <li>
                  <a href="#">Programa de afiliados</a>
                </li>
              </ul>
            </div>
            <div class="footer-col">
              <h4>Obter ajuda</h4>
              <ul>
                <li>
                  <a href="#">FAQ</a>
                </li>
              </ul>
            </div>
            <div class="footer-col">
              <h4>Seja um Colaborador!</h4>
              <form class="form-sub">
                <input type="email" placeholder="Digite o seu e-mail" required />
                <button type="submit">Subscrever</button>
              </form>

              <div class="medias-socias">
                <a href="#"><i class="fa-regular fa-envelope"></i></a>
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
