{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'media/logo.png' %}" type="image/x-icon">
    <script src="https://kit.fontawesome.com/e9bb3fc60a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Hookeds On Cinema</title>
</head>

<body>
    <div class="container">
        <nav>
            <div class="logo">
                <img src="/fotos/logo.png" alt="Logo">
                <h1><span>H</span>
                    <span>o</span>
                    <span>o</span>
                    <span>k</span>
                    <span>e</span>
                    <span>d</span>
                    <span>s</span>
                    <span>O</span>
                    <span>n</span>
                    <span>C</span>
                    <span>i</span>
                    <span>n</span>
                    <span>e</span>
                    <span>m</span>
                    <span>a</span>
                </h1>
            </div>
            <ul class="menu">
                <li><a href="/Página em Andamento/index.html"><i class="fas fa-home"></i> Home</a></li>
                <li>
                    <div class="menuzinho">
                        <a href="/Página em Andamento/index.html"><i class="fas fa-th-list"></i> Categorias</a>
                        <div class="submenu">
                            
                            <ul>
                                <li><i class="fas fa-film"></i><a href=""> Animação</a></li>
                                <hr>
                                <li><i class="fas fa-tv"></i><a href=""> Anime</a></li>
                                <hr>
                                <li><i class="fas fa-fist-raised"></i><a href=""> Ação</a></li>
                                <hr>
                                <li><i class="fas fa-map"></i><a href=""> Aventura</a></li>
                                <hr>
                                <li><i class="fas fa-theater-masks"></i><a href=""> Drama</a></li>
                                <hr>
                                <li><i class="fas fa-skull"></i><a href=""> Terror</a></li>
                                <hr>
                                <li><i class="fas fa-book"></i><a href=""> Novela</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li><a href="/Página em Andamento/index.html"><i class="fas fa-fire"></i> Tendências</a></li>
                <li><a href="/Página em Andamento/index.html"><i class="fas fa-bookmark"></i> Biblioteca</a></li>
            </ul>

            <div class="search-perfil">
                <input type="search" href="/Página em Andamento/index.html" placeholder="Search..."><a
                    href="Página em Andamento/index.html"><i class="fas fa-search"></i></a>
                    
                        <div class="menuzinho2">
                            <img src="/fotos/fotoperfil.jpeg" alt="Foto de Perfil" class="fotoperfil">
                            <div class="submenu2">
                                <ul>
                                    <li><a href="/areadousuario/index2.html"> Perfil</a></li>
                                    <hr>
                                    <li><a href="/index.html"> Sair</a></li>
                                </ul>
                            </div>
                        </div>
            </div>
        </nav>

        <div class="carrossel">
            <div class="gallery">
            <div style="--i: url(/fotos/interestelar.jpg);"></div>
            <div style="--i: url('/fotos/operhaimer.jpg');"></div>
            <div style="--i: url('/fotos/tudoemtodolugar.jpg');"></div>
             </div>
        </div>

        </section>
        <div class="galeria">
            <strong>Adicionados Recentemente</strong>
            <div class="foto1">
                <main><a href="/Página em Andamento/index.html"><img src="/{% static 'media/galeria/baby-drive.png' %}"
                            alt="Em Ritmo de Fuga"></a>
                    Em Ritmo de Fuga <br>
                    50
                </main>

                <main><a href="/Página em Andamento/index.html"><img src="{% static 'media/galeria/Jhonny_Bravo.png' %}"
                            alt="Jhonny Bravo"></a>
                    Jhonny Bravo<br>
                    50
                </main>
                <main><a href="/Página em Andamento/index.html"><img src="{% static 'media/galeria/carros.png' %}" 
                            alt="Carros"></a>
                    Carros<br>
                    30
                </main>
                <main><a href="/Página em Andamento/index.html"><img src="{% static 'media/galeria/Usurpadora.png' %}"
                            alt="A Usurpadora"></a>
                    A Usurpadora <br>
                    20
                </main>
                <main><a href="/Página em Andamento/index.html"><img src="{% static 'media/galeria/Breaking-Bad.png' %}"
                            alt="Breaking Bad"></a>
                    Breaking Bad <br>
                    60
                </main>
                <main><a href="/Página em Andamento/index.html"><img src="{% static 'media/galeria/Alchemist.png' %}"
                            alt="Fullmetal Alchemist"></a>
                    Fullmetal Alchemist <br>
                    40
                </main>
                <main><a href="/Página em Andamento/index.html"><img src="{% static 'media/galeria/Cheias de charme.png' %}"
                            alt="Cheias de Charme"></a>
                    Cheias de Charme <br>
                    50
                </main>
            </div>
            <strong>Relacionados</strong>
            <div class="foto1">

                <main><a href="/Página em Andamento/index.html"><img src="{% static 'media/galeria/Game of Thrones.png' %}"
                            alt="Game of Thrones"></a>
                    Game of Thrones <br>
                    40
                </main>
                <main><a href="/Página em Andamento/index.html"><img src="{% static 'media/galeria/O Iluminado.png' %}"
                            alt="O Iluminado"></a>
                    O Iluminado<br>
                    20
                </main>
                <main><a href="/Página em Andamento/index.html"><img src="{% static 'media/galeria/Da Cor do Pecado.png' %}"
                            alt="Da Cor do Pecado"></a>
                    Da Cor do Pecado<br>
                    40
                </main>
                <main><a href="/Página em Andamento/index.html"><img src="{% static 'media/galeria/Amelie.png' %}" alt="Amelie"></a>
                    Amelie <br>
                    60
                </main>
                <main><a href="/Página em Andamento/index.html"><img src="{% static 'media/galeria/Lilo e Stitch.png' %}"
                            alt="Lilo e Stitch"></a>
                    Lilo e Stitch <br>
                    40
                </main>
                <main><a href="/Página em Andamento/index.html"><img src="{% static 'media/galeria/Akame Ga Kill.png' %}"
                            alt="Akame Ga Kill"></a>
                    Akame Ga Kill <br>/
                    40
                </main>
                <main><a href="/Página em Andamento/index.html"><img src="{% static 'media/galeria/O Profeta.png' %}"
                            alt="O Profeta"></a>
                    O Profeta <br>
                    60
                </main>
            </div>
            <div>
                <div class="carrossel">
                <div class="gallery">
                <div style="--i: url(/fotos/Breaking-Bad.jpg);"></div>
                <div style="--i: url('/fotos/Friends.jpg');"></div>
                <div style="--i: url('/fotos/The-Big-Bang.jpg');"></div>
                 </div>
            </div>
            </div>


            <strong>Sugestões da Semana</strong>
            <div class="foto1">
                <main><a href="/Página em Andamento/index.html"><img src="/fotos/galeria/Procurando Nemo.png"
                            alt="Procurando Nemo"></a>
                    Procurando Nemo <br>
                    50
                </main>
                <main><a href="/Página em Andamento/index.html"><img src="/fotos/galeria/Chocolate com Pimenta.png"
                            alt="Chocolate com Pimenta"></a>
                    Chocolate com Pimenta<br>
                    40
                </main>
                <main><a href="/Página em Andamento/index.html"><img src="/fotos/galeria/Attack On Titan.png"
                            alt="Attack On Titan"></a>
                    Attack On Titan<br>
                    60
                </main>
                <main><a href="/Página em Andamento/index.html"><img src="/fotos/galeria/The Walking Dead.png"
                            alt="The Walking Dead"></a>
                    The Walking Dead <br>
                    20
                </main>
                <main><a href="/Página em Andamento/index.html"><img src="/fotos/galeria/Psicopata Americano.png"
                            alt="Psicopata Americano"></a>
                    Psicopata Americano <br>
                    60
                </main>
                <main><a href="/Página em Andamento/index.html"><img src="/fotos/galeria/Caminho das Índias.png"
                            alt="Caminho das Índias"></a>
                    Caminho das Índias<br>
                    40
                </main>
                <main><a href="/Página em Andamento/index.html"><img src="/fotos/galeria/Kick Buttowski.png"
                            alt="Kick Buttowski"></a>
                    Kick Buttowski <br>
                    50
                </main>
            </div>
            <strong>Internacionais</strong>
            <div class="foto1">
                <main><a href="/Página em Andamento/index.html"><img src="/fotos/galeria/Alice in Borderland.png" alt="Alice in Borderland"></a>
                    Alice in Borderland <br>
                    70
                </main>
                <main><a href="/Página em Andamento/index.html"><img src="/fotos/galeria/Death Note.png" alt="Death Note"></a>
                    Death Note<br>
                    75
                </main>
                <main><a href="/Página em Andamento/index.html"><img src="/fotos/galeria/The 100.png" alt="The 100"></a>
                    The 100<br>
                    100
                </main>
                <main><a href="/Página em Andamento/index.html"><img src="/fotos/galeria/Marley & Eu.png" alt="Marley & Eu"></a>
                    Marley & Eu <br>
                    37
                </main>
                <main><a href="/Página em Andamento/index.html"><img src="/fotos/galeria/The Boys.png" alt="The Boys"></a>
                    The Boys <br>
                    50
                </main>
                <main><a href="/Página em Andamento/index.html"><img src="/fotos/galeria/Taxi Driver.png" alt="Taxi Driver"></a>
                    Taxi Driver<br>
                    20
                </main>
                <main><a href="/Página em Andamento/index.html"><img src="/fotos/galeria/The Simpsons.png" alt="The Simpsons"></a>
                    The Simpsons <br>
                    200
                </main>
            </div>
        </div>
        <footer>
            <div class="container-footer">
                <div class="row-footer">

                    <div class="footer-col">
                       <h4><strong>Empresa</strong></h4>
                        <ul>
                            <li><a href="#"> Quem somos </a></li>
                            <li><a href=""> nossos serviços </a></li>
                            <li><a href=""> política de privacidade </a></li>
                            <li><a href=""> programa de afiliados</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4><strong> Obter ajuda</strong></h4>
                        <ul>
                            <li><a href="#">FAQ</a></li>
                        </ul>
                    </div>
    
                   
                    <div class="footer-col">
                        <h4><strong>Seja um Colaborador!</strong></h4>
                        <div class="form-sub">
                            <form>
                                <input type="email" placeholder="Digite o seu e-mail" required>
                                <button>subscrever</button>
                            </form>
                        </div>
    
                        <div class="medias-socias">
                            <a href="#"> <i class="fa-regular fa-envelope"></i> </a>
                            <a href="#"> <i class="fa-brands fa-facebook"></i> </a>
                            <a href="#"> <i class="fa-brands fa-instagram"></i> </a>
                            <a href="#"> <i class="fa-brands fa-x-twitter"></i> </a>
                        </div>
    
                    </div>

                </div>
            </div>
        </footer>
    </div>
</body>

</html>