{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e9bb3fc60a.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/fotos/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="{%static 'css/login.css'%}">
    <title>Login</title>
</head>
<body>

<div class="container">
    <div class="form">
        <h2>Login <i class="fas fa-sign-in-alt"></i></h2>
        <div class="input-group">
            <label for="login-email"><i class="fas fa-envelope"></i><input type="email" id="login-email" placeholder="Email"></label>
        </div>
        <div class="input-group">
            <label for="login-password"><i class="fas fa-lock password"></i> <input type="password" id="login-password" placeholder="Senha"></label>
        </div>
        <a href="/areadousuario/index.html"><button class="login-btn">Login <i class="fas fa-sign-in-alt"></i></button></a>
        <a href="{% url 'paginaPrincipal' %}"><button class="back-btn">Voltar para o Início <i class="fas fa-home"></i></button></a>
        <p>Não registrado? <a href="index2.html" class="register-link">Crie uma conta <i class="fas fa-user-plus"></i></a></p>
    </div>
</div>

</body>
</html>
