{% load static %}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/e9bb3fc60a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/master.css' %}" />
    <script src="https://unpkg.com/scrollreveal"></script>
    <link rel="shortcut icon" href="{% static 'media/icons/logo.png' %}" type="image/x-icon">
    <title>Hookeds On Cinema</title>
  </head>
<body> 
        <header> <!--===== CABEÇALHO =====-->

            <a href="{% url 'paginaPrincipal' %}" class="logo">
            <img  src="{% static 'media/icons/logo.png' %}" />
            </a>

            <section class="menu">

            <a href="{% url 'paginaPrincipal' %}"><i class="fas fa-home"></i> Home</a>
            <a href="" class="btn-tendencias"><i class="fas fa-fire"></i><span>Tendências</span> </a>
            <!-- <a href="/Página em Andamento/index.html"><i class="fas fa-bookmark"></i> Biblioteca</a> -->

            <!--====== MENU ======-->
            <div class="menuzinho">
                <a href="/Página em Andamento/index.html"><i class="fas fa-th-list"></i> Categorias</a>
                <div class="submenu">
                <ul>
                    <li>
                    <i class="fas fa-film"></i><a href="#">Animação</a>
                    </li>
                    <li>
                    <i class="fas fa-tv"></i><a href="#">Anime</a>
                    </li>
                    <li>
                    <i class="fas fa-fist-raised"></i><a href="#">Ação</a>
                    </li>
                    <li>
                    <i class="fas fa-map"></i><a href="#">Aventura</a>
                    </li>
                    <li>
                    <i class="fas fa-theater-masks"></i><a href="#">Drama</a>
                    </li>
                </ul>
                </div>
            </div>

            <!--====== FIM DO MENU ======-->

            </section>

            <div class="input_perfil">
            <div class="search-perfil">
                <input type="search" href="/Página em Andamento/index.html" placeholder="Pesquisar" />
                <a href="Página em Andamento/index.html"><i class="fas fa-search"></i></a>
            </div>
            <div class="perfil">
                <a href="{" >Perfil</a>
            </div>
            </div>

        </header>

{% block content %}

{% endblock %}

 <!-- ===== RODAPE =====-->
 <footer>
    <div class="container-footer">
      <div class="row-footer">
        <div class="footer-col">
          <h4>Empresa</h4>
          <ul>
            <li>
              <a href="#">Quem somos</a>
            </li>
            <li>
              <a href="#">Nossos serviços</a>
            </li>
            <li>
              <a href="#">Política de privacidade</a>
            </li>
            <li>
              <a href="#">Programa de afiliados</a>
            </li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Obter ajuda</h4>
          <ul>
            <li>
              <a href="#">FAQ</a>
            </li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Seja um Colaborador!</h4>
          <form class="form-sub">
            <input type="email" placeholder="Digite o seu e-mail" required />
            <button type="submit">Subscrever</button>
          </form>

          <div class="medias-socias">
            <a href="#"><i class="fa-regular fa-envelope"></i></a>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>