<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/fotos/logo.png" type="image/x-icon">
    <title>Página em Andamento</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="container">
    <h1>Página em Andamento</h1>
    <p>Nossa equipe está trabalhando duro para criar uma experiência incrível para você. <br>
        Volte em breve!</p>
    <div class="underline"></div>
    <a href="/index.html" class="btn">Voltar</a>
</div>

</body>
</html>

