{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/perfil_usuario.css'%}">
    <script src="https://kit.fontawesome.com/e9bb3fc60a.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/fotos/logo.png" type="image/x-icon">
    <title>Hookeds on Cinema</title>
</head>

<body>
    <nav>
        <div class="logo">
            <img src="/fotos/logo.png" alt="Logo">
            <h1><span>H</span>
                <span>o</span>
                <span>o</span>
                <span>k</span>
                <span>e</span>
                <span>d</span>
                <span>s</span>
                <span>O</span>
                <span>n</span>
                <span>C</span>
                <span>i</span>
                <span>n</span>
                <span>e</span>
                <span>m</span>
                <span>a</span>
            </h1>
        </div>
        <ul class="menu">
            <li><a href="/areadousuario/index.html"><i class="fas fa-home"></i> Home</a></li>
            <li>
                <div class="menuzinho">
                    <a href="/Página em Andamento/index.html"><i class="fas fa-th-list"></i> Categorias</a>
                    <div class="submenu">
                        
                        <ul>
                            <li><i class="fas fa-film"></i><a href=""> Animação</a></li>
                            <hr>
                            <li><i class="fas fa-tv"></i><a href=""> Anime</a></li>
                            <hr>
                            <li><i class="fas fa-fist-raised"></i><a href=""> Ação</a></li>
                            <hr>
                            <li><i class="fas fa-map"></i><a href=""> Aventura</a></li>
                            <hr>
                            <li><i class="fas fa-theater-masks"></i><a href=""> Drama</a></li>
                            <hr>
                            <li><i class="fas fa-skull"></i><a href=""> Terror</a></li>
                            <hr>
                            <li><i class="fas fa-book"></i><a href=""> Novela</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li><a href="/Página em Andamento/index.html"><i class="fas fa-fire"></i> Tendências</a></li>
            <li><a href="/Página em Andamento/index.html"><i class="fas fa-bookmark"></i> Biblioteca</a></li>
        </ul>

        <div class="search-perfil">
            <input type="search" href="/Página em Andamento/index.html" placeholder="Search..."><a
                href="/Página em Andamento/index.html"><i class="fas fa-search"></i></a>
                
                    <div class="menuzinho2">
                        <img src="/fotos/fotoperfil.jpeg" alt="Foto de Perfil" class="fotoperfil">
                        <div class="submenu2">
                            <ul>
                                <li><a href="/areadousuario/index2.html"> Perfil</a></li>
                                <hr>
                                <li><a href="/index.html"> Sair</a></li>
                            </ul>
                        </div>
                    </div>
        </div>
    </nav>
    <div class="container">
        <div class="aba-config-conta">
            <img src="/fotos/SVG.png" alt="Configurações da Conta">
            <h1>CONFIGURAÇÕES DA CONTA</h1>
        </div>
        <div class="config-conta">
            <h1>Configurações da Conta</h1>
            <p>Gerencie os detalhes de sua conta.</p>
            <h2>Informações da conta</h2>
            <h3>ID:<p>24d6c5b76ed84147a50903690385ac29</p>
            </h3>
            <article id="info-conta">
                <div id="esquerda">
                    <h4>Nome de exibição</h4>
                    <p><br>luccaszzzz</p><img src="/fotos/SVG2.png" alt="Informações">
                </div>
                <div id="direita">
                    <h5>Endereço de e-mail</h5>
                    <p><br>l***0@gmail.com</p>
                </div>
                <div class="botao"><button><img src="/fotos/SVG3.png" alt="mudar"></button></div>
            </article>
            <div class="idioma">
                <h1>Idioma de comunicação de preferência</h1>
                <p>Português (Brasil)</p><img src="/fotos/SVG4.png" alt="opcoes">
            </div>
            <div class="detalhes-pessoais">
                <h1>Detalhes pessoais</h1>
                <p>Gerencie seu nome e informações de contato. Essas informações pessoais são privadas e não serão
                    exibidos para outros usuários. Veja a nossa<a href="Política de Privacidade">Política de
                        Privacidade</a></p>
                <div class="nome">
                    <h1>Nome</h1>
                    <p>L***s</p>
                </div>
                <div class="sobrenome">
                    <h2>Sobrenome</h2>
                    <p>E*****l</p>
                </div>
                <div class="endereço">
                    <h1>Endereço</h1>
                    <div class="caixinhas">
                        <div class="end1">
                            <h1>Linha de endereço 1</h1>
                        </div>
                        <div class=" end2">
                            <h1>Linha de endereço 2</h1>
                        </div>
                    </div>
                    <div class="cidade">
                        <h1>Cidade</h1>
                    </div>
                    <div class="regiao">
                        <h1>Região</h1>
                    </div>
                    <div class="codigo">
                        <h1>Código postal</h1>
                    </div>
                </div>
                <div class="pais">
                    <h1>País/Região</h1>
                    <p>BRAZIL</p><img src="/fotos/SVG2.png" alt="Informações">
                </div>
                <div class="botao2"><button><img src="/fotos/SVG3.png" alt="mudar"></button></div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container-footer">
            <div class="row-footer">
             
                <div class="footer-col">
                   <h4><strong>Empresa</strong></h4>
                    <ul>
                        <li><a href="#"> Quem somos </a></li>
                        <li><a href="#"> nossos serviços </a></li>
                        <li><a href="#"> política de privacidade </a></li>
                        <li><a href="#"> programa de afiliados</a></li>
                    </ul>
                </div>
            
                <div class="footer-col">
                    <h4><strong> Obter ajuda</strong></h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>

               
                <div class="footer-col">
                    <h4><strong>Seja um Colaborador!</strong></h4>
                    <div class="form-sub">
                        <form>
                            <input type="email" placeholder="Digite o seu e-mail" required>
                            <button>subscrever</button>
                        </form>
                    </div>

                    <div class="medias-socias">
                        <a href="#"> <i class="fa-regular fa-envelope"></i> </a>
                        <a href="#"> <i class="fa-brands fa-facebook"></i> </a>
                        <a href="#"> <i class="fa-brands fa-instagram"></i> </a>
                        <a href="#"> <i class="fa-brands fa-x-twitter"></i> </a>
                    </div>

                </div>
            </div>
        </div>
    </footer>

</body>

</html>