body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #7200A8;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h1 {
    color: #FFC107;
    margin-bottom: 20px;
}

p {
    color: #ffffff;
    margin-bottom: 40px;
}

.underline {
    border-bottom: 2px solid #FFC107;
    display: inline-block;
    padding-bottom: 5px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FFC107;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #ffffff;
}

a:hover {
    color: #7200A8;
}

.container:hover {
    transform: scale(1.05);
}

.container {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.8s ease forwards 0.3s;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
