:root {
    --preto: #020202;
    --roxo_padrao: #7200A8;
    --roxo_claro: #4C006F;
    --amarelo: #FFC107;
    --cinza: #0F0F0F;
  }

body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200vh;
}

.container {
    background: var(--roxo_padrao);
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
    padding: 20px;
}


h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    color: white;
}

input[type="text"],
input[type="password"],
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}


button {
    background-color: var(--amarelo);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}



