:root {
    --preto: #020202;
    --roxo_padrao: #7200A8;
    --roxo_claro: #4C006F;
    --amarelo: #FFC107;
    --cinza: #0F0F0F;
  }

.form {
    background-color: white;
    width: 50%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border-radius: 10px;
}

