:root {
    --preto: #020202;
    --roxo_padrao: #7200A8;
    --roxo_claro: #4C006F;
    --amarelo: #FFC107;
    --cinza: #0F0F0F;
  }



.adicionados-cards {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
.adicionados-cards main{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    

}
.adicionados-cards main li {
    display: flex;
    color: white;
    list-style: none;
    width: 200px;
    height: 100px;
    background-color: var(--cinza);
    padding: 10px;
    align-items: center;

}

.adicionar-playlist {
    width: 100px;
    height: 100px;
    background-color:var(--cinza) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}
.adicionar-playlist span {
    text-align:center;
}
